<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header(~{::title},~{::link},~{::script})">
</head>

<body class="bg-light">
<div th:replace="common :: header"></div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <h4 class="border-bottom my-3" th:text="蔵書検索"></h4>
      <form th:action="@{/}" method="post">
      	<div class="form-group">
      		<label for = "employee_number" th:text="#{employee_number}"></label>
      		<input type="number" class="form-control">
      	</div>
      	<button class="btn btn-primary btn-lg btn-block my-4" type="submit" th:text="検索する"></button>
      	
      </form>
      </div>
    </div>
  </div>
</body>
</html>