<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header(~{::title},~{::link},~{::script})"></head>

<body>
<div th:replace="common :: header"></div>

<div class="alt-table-responsive">
	<div class="col-md-8">
		<h4 class="border-bottom my-3" th:text="書籍リスト"></h4>
	</div>
	
  <table class="table table-striped text-nowrap">
  <thead>
    <tr align="center">
    	<th>社員番号</th>
    	<th>メールアドレス</th>
    	<th>タイトル</th>
    	<th>JANコード</th>
    	<th><a class="btn btn-success btn-sm" href="/insert" type="submit" role="button">新規登録</a></th>
   	</tr>
  </thead>
  
  <tbody th:if="${book_list.size() >= 1}">
	<tr th:each="book: ${book_list}" th:objext="${book}" align="center">	
		<td th:text="${book.employee_number}"></td>
		<td th:text="${book.employee_mail}"></td>
		<td th:text="${book.book_name}"></td>
		<td th:text="${book.jan_code}"></td>
		<td>
			<form th:action="@{/book/{id}(id=*{book.id})}" th:method="post">
				<input class="btn btn-danger btn-sm" type="submit" value="削除" role="button"/>
			</form>
		</td>
	</tr>
 </tbody>
</table>


</div>
</body>
</html>